**/.DS_Store
**/.summary_files/
**/node_modules/
**/.dart_tool/
**/.venv/
**/__pycache__/
**/*.pyc
**/target/
**/.axiom/ide/
**/axiom_bindings.pyi
/.local-generated/
**/build/
**/dist/
.env
.env.*
**/.axiom/extensions/keys/
**/.axiom/extensions/cache/
**/.axiom/dev/
**/.axiom/extensions/release/
**/axiom.acore.lockfile
**/axiom.axiom
extension-sandbox/AxiomExtensions.toml
